<div class="footer wrapper">
	<nav class="nav">
		<div>{{ .Date.Year}} {{ with .Site.Copyright }} {{ . | safeHTML }} {{ end }}
	</nav>
</div>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180663322-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180663322-1');
</script>
{{- with .Site.Params.Social -}}
<script>feather.replace()</script>
<script>smartquotes();</script>
{{- end -}}
