:root {
  /* --- Nord Theme */
  --cl-nord-polar-night-0:   #1E2430;
  --cl-nord-polar-night-1:   #2E3440;
  --cl-nord-polar-night-2:   #3B4252;
  --cl-nord-polar-night-3:   #434C5E;
  --cl-nord-polar-night-4:   #4C566A;
  --cl-nord-polar-night-5:   #6C768A;
  --cl-nord-snow-storm-0:   #D0D6E1;
  --cl-nord-snow-storm-1:   #D8DEE9;
  --cl-nord-snow-storm-2:   #E5E9F0;
  --cl-nord-snow-storm-3:   #ECEFF4;
  --cl-nord-snow-storm-4:   #F2F4F8;
  --cl-nord-red:          #BF616A;
  --cl-nord-orange:       #D08770;
  --cl-nord-yellow:       #EBCB8B;
  --cl-nord-green:        #A3BE8C;
  --cl-nord-frost-1:       #8FBCBB;
  --cl-nord-frost-2:       #88C0D0;
  --cl-nord-frost-3:       #81A1C1;
  --cl-nord-frost-4:       #5E81AC;
  --cl-nord-purple:       #B48EAD;

  /* colors */
  --cl-border: var(--cl-nord-snow-storm-0);
  --cl-foreground: var(--cl-nord-polar-night-0);
  --cl-background: #ffffff;
  --cl-gray: var(--cl-nord-polar-night-5);
  --cl-note: var(--cl-nord-yellow);
  --cl-link: var(--cl-nord-frost-4);

  /* -- Code Block Colors -- */
  --cl-code-background:           var(--cl-nord-polar-night-1);
  --cl-code-foreground:           var(--cl-nord-snow-storm-1);
  --cl-code-builtin:              var(--cl-nord-snow-storm-3);
  --cl-code-comment:              var(--cl-nord-polar-night-5);
  --cl-code-function-name:        var(--cl-nord-frost-2);
  --cl-code-keyword:              var(--cl-nord-snow-storm-4);
  --cl-code-string:               var(--cl-nord-green);
  --cl-code-type:                 var(--cl-nord-purple);
  --cl-code-variable-name:        var(--cl-nord-frost-2);
}

body {
  font-family: 'Open Sans', sans-serif;
  background: var(--cl-background);
  color: var(--cl-foreground);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
  background-color: var(--cl-nord-snow-storm-4);
  padding: 1rem 3rem;
  margin-bottom: 4rem;
}
header > div {
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 { font-size: 200%; }
header nav {
  display: flex;
  align-items: center;
}
header nav ul {
  margin: 0;
  padding: 0;
}
header nav ul li {
  display: inline;
}

/* helper classes */
.visually-hidden {
  display: none;
}

.menu li {
  padding-left: 50px;
  cursor: pointer;
}
.menu a {
  color: var(--cl-foreground);
  font-size: 16px;
  font-weight: bold;
}

/* -- main content -- */
a { color: var(--cl-link); }
a:hover {
  transition: 0.2s;
  text-decoration: none;
}
p {
  line-height: 25px;
  font-size: 15px;
  margin-bottom: 20px;
}
h2 {
  font-size: 24px;
  font-weight: bold;
}
main {
  width: 600px;
  margin: 0 auto;
  flex-grow: 1;
}
@media (max-width: 599px) {
  main {
    width: calc(100% - 20px);
    padding: 10px;
  }
}
article h1:first-child { font-size: 36px; }
.post__meta {
  font-size: 14px;
  color: var(--cl-gray);
}

/* -- table -- */
main table { width: 100% }
main table th { text-align: left; }

/* -- Highlight Note Class -- */
.note {
  margin-top: 20px;
  background-color: var(--cl-note);
  padding: 20px;
  border-radius: 2px;
  font-size: 13px;
  line-height: 22px;
  margin-bottom: 30px;
}
.note p {
  margin: 0;
  padding: 0;
}

/* -- Page -- */

li.post-title {
  margin-bottom: 20px;
}


/* -- Code Blocks -- */
.org-builtin          { color: var(--cl-code-builtin); }
.org-doc              { color: var(--cl-code-doc); }
.org-function-name    { color: var(--cl-code-function-name); }
.org-keyword          { color: var(--cl-code-keyword); }
.org-string           { color: var(--cl-code-string); }
.org-type             { color: var(--cl-code-type); }
.org-variable-name    { color: var(--cl-code-variable-name); }
.org-comment, .org-comment-delimiter { color: var(--cl-code-comment); }
.org-src-container    {
  color: var(--cl-code-foreground);
  background: var(--cl-code-background);
  border: 1px solid var(--cl-border-src);
  padding: 0px 15px;
  max-width: 100%;
  overflow-y: auto;
  border-radius: 5px;
}
.org-src-container + .org-src-container { margin-top: 0.5rem; }


/* -- Footer --*/
footer {
  background: var(--cl-foreground);
  color: var(--cl-background);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
