<!doctype html>
<html lang="en-us">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <title>
      {% block subtitle %}{% endblock %}
      {% block title %}{{ site_name | default("weblorg website") }}{% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if site_owner is defined %}<meta name="author" content="{{ site_owner }}" />{% endif %}
    {% if site_description is defined %}<meta name="description" content="{{ site_description }}" />{% endif %}
    {% if site_keywords is defined %}<meta name="keywords" content="{{ site_keywords }}" />{% endif %}
    {% block meta %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for("static", file="style.css") }}" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ url_for("static", file="favicon.ico") }}" type="image/x-icon">
    {% endblock %}
  </head>
  <body>
    {# Top navigation bar #}
    {% block nav %}
      <header>
        <div>
          <h1>
            <a href="{{ url_for("index") }}">
              <img src="{{ url_for("static", file="HY_Light_and_Color_2.svg") }}"/>
              <span class="header-title-text">{% block title %}{{ site_name | default("weblorg website") }}{% endblock %}</span>
            </a>
          </h1>
          <a href="#main" class="hidden">
            jump to main content
          </a>
          <nav>
            <ul class="menu">
              <li>
                <a href="{{ url_for("pages", slug="about") }}">ABOUT</a>
              </li>
              <li>
                <a href="{{ url_for("index") }}">BLOG</a>
              </li>
            </ul>
          </nav>
        </div>
      </header>
    {% endblock %}

    {# Probably where most of the action will happen #}
    <main id="main">
      <div>
        {% block main %}{% endblock %}
      </div>
    </main>

    {# Links, copyright notice, etc #}
    {% block footer %}
    <!-- <footer>
         Made with &#x2665; and&nbsp;
         <a href="https://emacs.love/weblorg" target="_blank">
         weblorg
         </a>
         </footer> -->
    {% endblock %}

  </body>
</html>
