html.dark body {
  color: #ddd;
  background-color: #000;
}

html.dark hr {
  border-color: #333;
}

html.dark h1,
html.dark h2,
html.dark h3,
html.dark h4,
html.dark h5,
html.dark h6 {
  color: #ddd;
}

html.dark table thead th {
  color: #eee;
}

html.dark .post-tags .tags a {
  border: 1px solid #ddd;
  color: #ddd;
}

html.dark .site-title a {
  color: #ddd;
  text-decoration: none !important;
}

html.dark .header nav,
html.dark .footer {
  border-color: #333;
}

/* html.dark .highlight { */
/*   background-color: #333; */
/* } */
