:root {
  /* Palette */
  --nord-polar-night-0-rgb: 30, 36, 48;
  --nord-polar-night-0:     #1E2430;
  --nord-polar-night-1-rgb: 46, 52, 64;
  --nord-polar-night-1:     #2E3440;
  --nord-polar-night-2-rgb: 59, 66, 82;
  --nord-polar-night-2:     #3B4252;
  --nord-polar-night-3-rgb: 67, 76, 94;
  --nord-polar-night-3:     #434C5E;
  --nord-polar-night-4-rgb: 76, 86, 106;
  --nord-polar-night-4:     #4C566A;
  --nord-polar-night-5-rgb: 108, 118, 138;
  --nord-polar-night-5:     #6C768A;
  --nord-snow-storm-0-rgb:  208, 214, 225;
  --nord-snow-storm-0:      #D0D6E1;
  --nord-snow-storm-1-rgb:  216, 222, 233;
  --nord-snow-storm-1:      #D8DEE9;
  --nord-snow-storm-2-rgb:  229, 233, 240;
  --nord-snow-storm-2:      #E5E9F0;
  --nord-snow-storm-3-rgb:  236, 239, 244;
  --nord-snow-storm-3:      #ECEFF4;
  --nord-snow-storm-4-rgb:  242, 244, 248;
  --nord-snow-storm-4:      #F2F4F8;
  --nord-snow-storm-5-rgb:  242, 244, 248;
  --nord-snow-storm-5:      #FFFFFF;
  --nord-red-rgb:           191, 97, 106;
  --nord-red:               #BF616A;
  --nord-orange-rgb:        208, 135, 112;
  --nord-orange:            #D08770;
  --nord-yellow-rgb:        235, 203, 139;
  --nord-yellow:            #EBCB8B;
  --nord-green-rgb:         163, 190, 140;
  --nord-green:             #A3BE8C;
  --nord-frost-1-rgb:       143, 188, 187;
  --nord-frost-1:           #8FBCBB;
  --nord-frost-2-rgb:       136, 192, 208;
  --nord-frost-2:           #88C0D0;
  --nord-frost-3-rgb:       129, 161, 193;
  --nord-frost-3:           #81A1C1;
  --nord-frost-4-rgb:       94, 129, 172;
  --nord-frost-4:           #5E81AC;
  --nord-purple-rgb:        180, 142, 173;
  --nord-purple:            #B48EAD;
  --dark-greene:            #222e00;

  /* Theme */
  --border: rgba(var(--nord-snow-storm-0-rgb), 0.5);
  --foreground: var(--nord-polar-night-0);
  --background: var(--nord-snow-storm-5);
  --foreground-rgb: var(--nord-polar-night-0-rgb);
  --background-rgb: var(--nord-snow-storm-5-rgb);
  --muted: var(--nord-polar-night-5);
  --note: var(--nord-yellow);
  --link: var(--nord-frost-4);
  --link-rgb: var(--nord-frost-4-rgb);
  --link-hover: var(--nord-polar-night-2);
  --code-block-bg: var(--nord-polar-night-1);
  --code-block-fg: var(--nord-snow-storm-1);
  --code-fg: var(--dark-greene);
  --code-bg: rgba(var(--nord-green-rgb), 0.2);
  --code-border: rgba(var(--nord-green-rgb), 0.5);
  --font-code: "JetBrains Mono", monospace;
  --font-body: "Nunito", sans-serif;
  --font-display: "Sen", sans-serif;
  --rhythm: 1.5rem;
  --content-width: calc(var(--rhythm) * 30);
  --speed: 0.2s;
  --radius: 0.2rem;
  --shadow: calc(var(--rhythm) * 0.25) calc(var(--rhythm) * 0.25) var(--rhythm) rgba(0, 0, 0, 0.2);
  --inset-shadow: inset 0 0 calc(var(--rhythm) * 0.5) rgba(0, 0, 0, 0.15);
  --shadow-dark: calc(var(--rhythm) * 0.25) calc(var(--rhythm) * 0.25) var(--rhythm) rgba(0, 0, 0, 0.5);
  --heading: var(--nord-polar-night-4);
  --header-bg: var(--nord-polar-night-0);
  --header-fg: var(--nord-snow-storm-5);
  --header-separator: var(--nord-frost-1);
  --footer-swoosh-bg: var(--nord-snow-storm-4);
  --footer-swoosh-fg: var(--nord-polar-night-5);
  --bg-pattern: url("/pattern1.svg");
  --input-border: var(--border);
  --table-alt-row-bg: rgba(var(--nord-snow-storm-4-rgb), 0.5);
    --bold-fg: var(--fg);
}

@media (prefers-color-scheme: light) {
  #inverter:checked + #theme-container {
    --border: rgba(var(--nord-polar-night-4-rgb), 0.5);
    --foreground: var(--nord-snow-storm-1);
    --background: var(--nord-polar-night-0);
    --foreground-rgb: var(--nord-snow-storm-0-rgb);
    --background-rgb: var(--nord-polar-night-0-rgb);
    --code-block-bg: rgba(0,0,0,0.5);
    --code-bg: rgba(var(--nord-green-rgb), 0.05);
    --code-border: rgba(var(--nord-green-rgb), 0.1);
    --heading: var(--nord-snow-storm-5);
    --header-bg: rgba(0,0,0,0.4);
    --header-fg: var(--nord-snow-storm-4);
    --header-separator: rgba(0,0,0,0.2);
    --link: var(--nord-frost-3);
    --link-rgb: var(--nord-frost-3-rgb);
    --link-hover: var(--nord-snow-storm-5);
    --code-fg: var(--nord-green);
    --muted: rgba(var(--nord-snow-storm-0-rgb), 0.70);
    --footer-swoosh-bg: var(--nord-snow-storm-0);
    --footer-swoosh-fg: var(--nord-polar-night-5);
    --inset-shadow: inset 0 0 calc(var(--rhythm) * 0.65) rgba(0, 0, 0, 0.5);
    --bg-pattern: url("/pattern1_dark.svg");
    --input-border: transparent;
    --table-alt-row-bg: rgba(var(--nord-polar-night-1-rgb), 0.3);
    --bold-fg: var(--header-fg);
  }
  #inverter:not(:checked) + #theme-container #sun { display: none; }
  #inverter:checked + #theme-container #moon { display: none; }
}

@media (prefers-color-scheme: dark) {
  #inverter:not(:checked) + #theme-container {
    --border: rgba(var(--nord-polar-night-4-rgb), 0.5);
    --foreground: var(--nord-snow-storm-1);
    --background: var(--nord-polar-night-0);
    --foreground-rgb: var(--nord-snow-storm-0-rgb);
    --background-rgb: var(--nord-polar-night-0-rgb);
    --code-block-bg: rgba(0,0,0,0.5);
    --code-bg: rgba(var(--nord-green-rgb), 0.05);
    --code-border: rgba(var(--nord-green-rgb), 0.1);
    --heading: var(--nord-snow-storm-5);
    --header-bg: rgba(0,0,0,0.4);
    --header-fg: var(--nord-snow-storm-4);
    --header-separator: rgba(0,0,0,0.2);
    --link: var(--nord-frost-3);
    --link-rgb: var(--nord-frost-3-rgb);
    --link-hover: var(--nord-snow-storm-5);
    --code-fg: var(--nord-green);
    --muted: rgba(var(--nord-snow-storm-0-rgb), 0.70);
    --footer-swoosh-bg: var(--nord-snow-storm-0);
    --footer-swoosh-fg: var(--nord-polar-night-5);
    --inset-shadow: inset 0 0 calc(var(--rhythm) * 0.65) rgba(0, 0, 0, 0.5);
    --bg-pattern: url("/pattern1_dark.svg");
    --input-border: transparent;
    --table-alt-row-bg: rgba(var(--nord-polar-night-1-rgb), 0.3);
    --bold-fg: var(--header-fg);
  }
  #inverter:not(:checked) + #theme-container #moon { display: none; }
  #inverter:checked + #theme-container #sun { display: none; }
}

#inverter { display: none; }
#sun, #moon {
  cursor: pointer;
  transition: all ease var(--speed);
  margin: 0 0 0 var(--rhythm);
  padding: 0;
}
#sun svg, #moon svg {
  width: var(--rhythm);
  height: var(--rhythm);
}
#sun:hover svg, #moon:hover svg {
  filter: drop-shadow(0 0 calc(var(--rhythm) * 0.25) rgba(var(--nord-yellow-rgb), 0.4)) brightness(1.1);
}

body {
  font-size: 19px;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  line-height: 1.6;
}

#theme-container {
  font-family: var(--font-body);
  background-color: var(--background);
  color: var(--foreground);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  word-break: break-word;
}

@media (max-width: 600px) {
  body {
    font-size: 16px;
  }
}

header {
  display: flex;
  justify-content: center;
  background-color: var(--header-bg);
  color: var(--header-fg);
  padding: calc(var(--rhythm) * 2) calc(var(--rhythm) * 0.5);
  border-bottom: calc(var(--rhythm)*0.25) solid var(--header-separator);
}

header > div {
  max-width: var(--content-width);
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  margin: 0;
  font-size: 150%;
}
header h1 a {
  color: var(--header-fg);
  text-decoration-color: transparent;
  white-space: nowrap;
}
header h1 a:hover {
  color: white;
}
header h1 a img {
  height: calc(var(--rhythm) * 3);
  vertical-align: middle;
  margin-right: calc(var(--rhythm) * 0.5);
  border-radius: 100%;
  border: calc(var(--rhythm) * 0.25) solid var(--nord-polar-night-1);
  background-color: #00000033;
}
header a { text-decoration-color: transparent; }
header nav {
  display: flex;
  align-items: center;
}
header nav ul { margin: 0; padding: 0; display: flex; flex-direction: row; flex-wrap: wrap; }
header nav li { list-style: none; display: flex; }
header .menu li { margin-left: var(--rhythm); }
header .menu a {
  font-family: var(--font-display);
  color: var(--nord-frost-1);
  font-size: 75%;
  font-weight: 500;
  letter-spacing: 0.05em;
}
header .menu a:hover {
  color: var(--nord-snow-storm-4);
}
@media (max-width: 600px) {
  header {
    position: relative;
    padding: var(--rhythm) calc(var(--rhythm) * 0.5);
  }
  header h1 {
    font-size: 110%;
  }
  header .header-title-text {
    top: calc(var(--rhythm) * -0.25);
    position: relative;
  }
  header > div {
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  header nav ul {
    margin-top: calc(var(--rhythm) * -2);
    margin-left: calc(var(--rhythm) * 4);
  }
  header .menu li { margin-left: 0; margin-right: calc(var(--rhythm) * 0.5); }

  #sun, #moon {
    position: absolute;
    margin-left: 0;
    top: 50%;
    transform: translateY(-50%);
    right: var(--rhythm);
  }
  #sun svg, #moon svg {
    height: calc(var(--rhythm) * 0.75);
    width: calc(var(--rhythm) * 0.75);
  }
}


/* helper classes */
.hidden { display: none; }

/* -- Typography -- */
h1, h2, h3, h4, h5, h6 {
  color: var(--heading);
  line-height: 1.3;
  margin-block-start: 2.5em;
  margin-block-end: 0.5em;
  font-family: var(--font-display);
}
h1 { font-size: 200% }
h2 { font-size: 150% }
h3 { font-size: 125% }
h4 { font-size: 100% }
h5 { font-size: 85% }
h6 { font-size: 75% }
@media (max-width: 600px) {
  h1 { font-size: 140% }
  h2 { font-size: 120% }
  h3 { font-size: 110% }
  h4 { font-size: 100% }
  h5 { font-size: 85% }
  h6 { font-size: 75% }
}
p { margin: 0 0 var(--rhythm) 0; }
b { color: var(--bold-fg); }
sup { font-size: 65%; }
sup a { text-decoration: none; }
sup a:hover { text-decoration: underline; }
code {
  background-color: var(--code-bg);
  border-radius: var(--radius);
  border: 1px solid var(--code-border);
  color: var(--code-fg);
  padding: 0 0.2rem;
  font-size: 90%;
}
ul, ol {
  margin: var(--rhythm) 0;
  padding-inline-start: calc(var(--rhythm) * 1.5);
}
ul li > p:last-child, ol li > p:last-child {
  margin-bottom: 0;
}
ol ol { list-style-type: lower-alpha; }
.comfy li, .COMFY li {
  margin-bottom: var(--rhythm);
}
blockquote {
  font-family: var(--font-display);
  font-size: 120%;
  border-left: calc(var(--rhythm) * 0.2) solid var(--nord-frost-1);
  background-color: var(--table-alt-row-bg);
  margin: 0 0 var(--rhythm) 0;
  padding: var(--rhythm);
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  line-height: 1.5;
}
blockquote p:last-of-type {
  margin-bottom: 0;
}
.muted {
  opacity: 0.6;
}
hr {
  border-color: var(--border);
  margin-block-start: calc(var(--rhythm) * 2);
  margin-block-end: calc(var(--rhythm) * 2);
  border-top: none;
}

/* -- Content -- */
a {
  color: var(--link);
  text-decoration-color: rgba(var(--link-rgb), 0.15);
  text-decoration-thickness: 4px;
}
a:hover {
  color: var(--link-hover);
  transition: text-decoration-color ease var(--speed), color ease var(--speed);
  text-decoration: underline;
  text-decoration-color: rgba(var(--link-rgb), 0.5);
  text-decoration-thickness: 4px;
}
main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  padding: calc(var(--rhythm) * 2) calc(var(--rhythm) * 0.5) 0 ;
  align-self: center;
  width: calc(100vw - var(--rhythm)*2);
  margin-bottom: calc(var(--rhythm)*2);
  background-image: var(--bg-pattern);
  background-size: 35%;
  background-repeat: repeat-x;
}
main > div {
  max-width: var(--content-width);
  flex-grow: 1;
}
@media (max-width: 600px) {
  main {
    width: calc(100% - var(--rhythm));
    padding-top: 0;
    background-size: 100%;
  }
}
main h1:first-of-type {
  font-size: 225%;
  margin-top: calc(var(--rhythm) * 1);
}
@media (max-width: 600px) {
  main h1:first-of-type {
    font-size: 150%;
  }
}
.datestamp {
  background: var(--background);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.datestamp, .timestamp-wrapper {
  padding: calc(var(--rhythm) * 0.1) calc(var(--rhythm) * 0.2);
  border: 1px solid var(--border);
  color: var(--muted);
  font-family: var(--font-display);
  font-size: 70%;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 500;
  border-radius: var(--radius);
}
.timestamp-wrapper {
  color: var(--nord-orange);
  border: none;
  padding: 0;
  font-size: 85%;
}
/* post.html */
.post__meta {
  margin: 0 0 calc(var(--rhythm) * 1) 0;
}
.post__description {
  color: var(--muted);
  font-style: italic;
  font-size: 90%;
  margin: calc(var(--rhythm)*1.5) 0 calc(var(--rhythm)*1.5) calc(var(--rhythm)*0.25);
  padding-left: calc(var(--rhythm)*0.75);
  border-left: calc(var(--rhythm)*0.2) solid var(--nord-frost-1);
}
/* blog.html */
.section-header {
  font-family: var(--font-display);
  color: var(--nord-frost-1);
  font-size: 80%;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: var(--rhythm);
  margin-bottom: calc(var(--rhythm)*0.25);
}
.posts {
  margin: 0 0 calc(var(--rhythm)*2) 0;
  padding: 0;
}
.posts .post-item {
  list-style: none;
  margin-bottom: calc(var(--rhythm)*2.5);
  display: flex;
}
.posts .post-item a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
}
.posts .post-item .post-date {
  margin-top: calc(var(--rhythm) * 0.25);
  align-self: start;
  line-height: 1;
  white-space: nowrap;
}
.posts .post-item .post-title {
  font-family: var(--font-display);
  color: var(--heading);
  font-size: 130%;
  font-weight: 600;
  line-height: 1.3;
}
.posts .post-item .post-description {
  color: var(--foreground);
  margin-top: calc(var(--rhythm)*0.5);
  font-size: 95%;
}
.posts .post-item a:hover .post-title { text-decoration: underline; }
.featured.posts .post-item .post-title { font-size: 180%; }


/* -- Table -- */
main table,
main thead,
main tbody,
main tfoot,
main tr,
main th,
main td,
main colgroup {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    border-color: inherit;
    text-align: left;
    font-weight: inherit;
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;
}
main table {
  width: 100%;
  box-shadow: var(--shadow);
  word-break: break-word;
}
main table td, main table th {
  padding: calc(var(--rhythm) * 0.5) calc(var(--rhythm) * 1);
}
main table tr {
  border-bottom: 1px solid var(--border);
}
main thead tr:first-child th:first-child {
  border-top-left-radius: var(--radius);
}
main thead tr:first-child th:last-child {
  border-top-right-radius: var(--radius);
}
main table tr:nth-child(2n) {
  background-color: var(--table-alt-row-bg);
}
main table tr:last-child {
  border-bottom: 3px solid var(--nord-polar-night-4);
}
main table th {
  background-color: var(--nord-polar-night-4);
  color: var(--nord-snow-storm-4);
  font-weight: 400;
  font-family: var(--font-display);
}

/* -- Code Blocks -- */
.org-bold { font-weight: bold; }
.org-doc
{ color: var(--nord-polar-night-5); }
.org-function-name,
.org-tree-sitter-hl-faceXfunction,
.org-tree-sitter-hl-faceXmethod,
.org-tree-sitter-hl-faceXattribute,
.org-tree-sitter-hl-faceXfunctionXcall,
.org-tree-sitter-hl-faceXmethodXcall
{ color: var(--nord-frost-2); }
.org-tree-sitter-hl-faceXfunctionXcall,
.org-tree-sitter-hl-faceXmethodXcall
{ font-weight: bold }
.org-tree-sitter-hl-faceXmethodXcall
{ font-style: italic }
.org-tree-sitter-hl-faceXkeyword,
.org-keyword,
.org-constant,
.org-highlight-numbers-number,
.org-tree-sitter-hl-faceXtag,
.org-builtin,
.org-tree-sitter-hl-faceXtypeXbuiltin,
.org-tree-sitter-hl-faceXnumber
{ color: var(--nord-frost-3); }
.org-string,
.org-tree-sitter-hl-faceXstring
{ color: var(--nord-green); }
.org-type,
.org-tree-sitter-hl-faceXtype
{ color: var(--nord-frost-1); }
.org-tree-sitter-hl-faceXconstructor
{ color: var(--nord-purple); }
.org-tree-sitter-hl-faceXpunctuationXbracket,
.org-tree-sitter-hl-faceXpunctuationXdelimiter,
.org-tree-sitter-hl-faceXoperator,
.org-tree-sitter-hl-faceXpunctuation
{ color: var(--nord-frost-4)}
.org-variable-name,
.org-tree-sitter-hl-faceXvariable,
.org-tree-sitter-hl-faceXparameter
{ color: var(--nord-snow-storm-4); }
.org-comment,
.org-comment-delimiter,
.org-tree-sitter-hl-faceXcomment
{ color: var(--nord-polar-night-5); }
.org-tree-sitter-hl-faceXpunctuationXspecial,
.org-tree-sitter-hl-faceXstringXspecial
{ color: var(--nord-yellow); }

.org-src-container {
  color: var(--code-block-fg);
  background: var(--code-block-bg);
  padding: calc(0.75 * var(--rhythm));
  font-size: 0.9rem;
  max-width: calc(100vw - var(--rhythm)*2.5);
  overflow-y: auto;
  border-radius: var(--radius);
  margin-bottom: var(--rhythm);
  box-shadow: var(--shadow-dark);
}
.org-src-container + .org-src-container { margin-top: calc(-0.75 * var(--rhythm)); }
.org-src-container pre { margin: 0; }
pre, code { font-family: var(--font-code); }
li .org-src-container {
  max-width: calc(100vw - var(--rhythm)*(2.5 + 1.5*1));
}
li li .org-src-container {
  max-width: calc(100vw - var(--rhythm)*(2.5 + 1.5*2));
}
.noligatures, .NOLIGATURES { font-variant-ligatures: none; }
.demo {
  border-radius: var(--radius);
  font-size: 90%;
  box-shadow: var(--inset-shadow);
  padding: var(--rhythm);
  display: flex;
  flex-direction: column;
  background-color: rgba(var(--background-rgb), 0.2);
  border: 1px solid rgba(var(--nord-frost-1-rgb), 0.2);
  background-size: calc(var(--rhythm)*0.5) calc(var(--rhythm)*0.5);
  background-image: linear-gradient(to right, rgba(var(--nord-frost-1-rgb), 0.05) 1px, transparent 1px), linear-gradient(to bottom, rgba(var(--nord-frost-1-rgb), 0.05) 1px, transparent 1px);
}
.demo pre {
  border-radius: var(--radius);
  background: var(--code-bg);
  border: 1px solid var(--code-border);
  color: var(--code-fg);
  margin: 0;
  padding: calc(var(--rhythm) * 0.5);
}

/* -- Forms -- */
label {
  display: block;
  font-family: var(--font-display);
  text-transform: uppercase;
  font-size: 75%;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: var(--muted);
  margin-bottom: calc(var(--rhythm)*0.125)
}
#main * + label {
  margin-top: var(--rhythm);
}
label.muted, label .muted {
  opacity: 0.6;
}
input {
  border: 1px solid var(--input-border);
  padding: calc(var(--rhythm)*0.5);
  color: var(--nord-polar-night-0);
  font-size: 1rem;
}
input:focus {
  border-color: transparent;
  outline: 3px solid var(--nord-frost-1);
}
button {
  font-family: var(--font-display);
  border-radius: var(--radius);
  border: none;
  background: var(--nord-purple);
  padding: calc(var(--rhythm)*0.5) var(--rhythm);
  color: var(--nord-polar-night-0);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.030em;
}
button:hover {
  filter: brightness(1.2);
}
button:active {
  filter: brightness(1.1);
}
button:disabled {
  filter: saturate(0.2);
  opacity: 0.8;
  color: var(--nord-polar-night-5);
  cursor: not-allowed;
}

/* -- Footnotes -- */
#footnotes { font-size: 90%; }
h2.footnotes {
  font-size: 0;
  border-bottom: 1px solid var(--border);
  margin-top: calc(2 * var(--rhythm));
  margin-bottom: var(--rhythm);
}
.footdef { margin-bottom: calc(var(--rhythm) * 1.5); }
.footdef sup { margin-right: 0.25em; }
.footdef div.footpara { display: inline; }
.footdef p.footpara:first-of-type { display: inline; }
.footdef p.footpara:first-of-type + * { margin-top: var(--rhythm); }
.footnum:target, .footref:target {
  background-color: rgba(var(--nord-purple-rgb), 0.3);
  color: var(--nord-purple);
  font-weight: bold;
  outline: none;
  padding: 0.1rem 0.2rem;
  border-radius: var(--radius);
}
sup a.footref:target {
  margin-left: 0.2em;
}

/* -- Footer -- */
footer {
  background: var(--footer-swoosh-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(var(--rhythm) * 2) calc(var(--rhythm) * 0.5);
}
.footer-swoosh path {
  fill: var(--footer-swoosh-bg);
}
footer > div {
  max-width: var(--content-width);
  flex-grow: 1;
  color: var(--footer-swoosh-fg);
  font-family: var(--font-display);
  font-size: 90%;
  text-align: center;
  line-height: 1.7;
}
